:root {
    --cyan-accent: #00f0ff;
    --cyan-accent-inactive: #0a9199;
    --cyan-text: #6df4f5;
    --cyan-sidebar-text: #00cad1;
    --cyan-header: #163339;
    --amoled: #000000;
    --back-side: #14121b;
    --back: #090813;
    --yellow-accent: #fcee0a;
    --net-link: #cfec57;
    --red-accent: #bd1f26;
    --red: #842623;
    --red-text: #ff5750;
    --red-hover: #4e191c;
    --lime: #15ff00;
    --green: #1bd888;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #00000030;
}

#sidebar {
    height: 100%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--back-side);
}

.container {
    min-width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0 2em;
}

#filter {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--red-accent);
    text-align: center;
    color: var(--cyan-accent);
    background-color: var(--amoled);
}

.entry {
    display: flex;
    color: var(--red-text);
}

.app-list {
    overflow: auto;
}

.entry.selected>.app-type {
    color: var(--cyan-accent);
    display: flex;
    background-image: url("./assets/type-border.svg");
    width: 8px;
    height: 48px;
    margin: 1px 0px 1px 2px;
}

.app-info {
    display: flex;
}

.app-icon {
    width: 42px;
    height: 42px;
    padding: 0px;
    margin: 2px;
}

.entry.selected>.app-info>.app-icon {
    margin-left: -15px;
}

.app-name {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.entry.selected>.app-info {
    color: var(--cyan-accent);
    display: flex;
    border-image: url("./assets/app-border.svg") 0 20 fill;
    flex-grow: 1;
    border-style: solid;
    border-width: 0 20px;
    height: 48px;
    min-width: 200px;
    margin: 1px 2px;
}


.entry.selected>.app-icon {
    background-color: var(--cyan-accent);
}

[hidden] {
    display: none !important;
}
